@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap%27");
.badge__item {
  /* border-radius: 5px; 5px rounded corners */
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
  /* box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1); */
  /* transition: 0.5s; */
}

.badge__image {
  border-radius: 5px rounded corners;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
  transition: 0.4s;

  padding-top: 15px;
  padding-bottom: 15px;
}

.badge__item img {
  width: 100%;
}

.badge__label {
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  font-size: 0.9rem;
}

.badge__image:hover {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}
