@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

.ThankYouPage {
  overflow: hidden;
  /* padding-left: 10px; */
}

.ThankYouPage__container {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/back.png);
  /* background: url("https://images.unsplash.com/photo-1494386346843-e12284507169?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80")
    no-repeat center center fixed; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  text-align: center;
}

.ThankYouPage .row {
  display: flex;
  height: 75%;
  align-items: center;
  padding: 100px;
}
.ThankYouPage .col {
  flex-basis: 50%;
}
.ThankYouPage h1 {
  color: white;
  font-size: 95px;
  -webkit-text-stroke: 1px black;
}
.ThankYouPage h2 {
  color: white;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 10px;
  -webkit-text-stroke: 1px black;
}

.ThankYouPage button {
  height: 100%;
  width: 40%;

  border-radius: 25px;
  border: none;
  color: black;
  margin-top: 50px;
  padding: 20px;
  font-size: 17px;
  text-align: center;
  font-weight: 800;
  cursor: pointer;
  background: white;
}

.ThankYouPage button:hover {
  background: black;
  color: white;
}

.ThankYouPage .card {
  width: 230px;
  height: 150px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 20px 30px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

.ThankYouPage .card1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/step1.jpg);
}
.ThankYouPage .card2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/step2.jpg);
}
.ThankYouPage .card3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/step3.jpg);
}
.ThankYouPage .card4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/step4.jpg);
}

.ThankYouPage .card:hover {
  transform: translateY(-10px);
}

.ThankYouPage h5 {
  color: white;
  font-size: 15px;
  font-weight: 30px;
  text-shadow: 0 0 5px #999;
  margin-bottom: 8px;
}

.ThankYouPage h6 {
  font-size: 14px;
  color: white;
}
